body{
    background-image:url(foto\ principal.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}
.container{
    font-size: larger;
    font-style: oblique;
}
.botones{
    margin: 300px;
    display: flex;
    justify-content: space-around;
    
}
.btn{
    background-color: greenyellow;
    border: 3px solid blueviolet;
    color: blue;
    font-size: 30px;
    border-radius: 40px;
    padding: 10px 10px;
    text-decoration: none;
}
#choice{
 font-weight: bolder;
}
#confirmacion{
    font-size: 30px;
    color: crimson;
    font-style: oblique;
    margin-left: 150px;

}